@tailwind base;
@tailwind components;
@tailwind utilities;

.range:disabled {
  cursor: not-allowed;
  --tw-border-opacity: 1;
  border-color: hsl(var(--bc) / var(--tw-border-opacity));
  background-color: transparent;
  opacity: 0.3;
  --togglehandleborder: 0 0 0 3px hsl(var(--bc)) inset,
    var(--handleoffsetcalculator) 0 0 3px hsl(var(--bc)) inset;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  --tw-border-opacity: 1;
  border-color: hsl(var(--bc) / var(--tw-border-opacity));
  background-color: transparent;
  opacity: 0.3;
  --togglehandleborder: 0 0 0 3px hsl(var(--bc)) inset,
    var(--handleoffsetcalculator) 0 0 3px hsl(var(--bc)) inset;
}
